@font-face {
  font-family: 'Rouge Script';
  src: url('../src/assets/fonts/RougeScript-Regular.ttf') format('woff2');
}
@import 'tailwindcss';

@theme {
  --font-rouge-script-regular: 'Rouge Script', cursive;
}



